<h2>Array list vs Linked list</h2>

<p>
    ArrayList — это список, реализованный на основе массива.<br>
    LinkedList — это связный список, основанный на объектах с ссылками между ними.<br>
</p>

<p>
    Array list:<br>
    Доступ по индексу за константное время.<br>
    Минимум накладных расходов при хранении данных.<br>
    Долгие вставка и удаление из середины.<br>
    Добавление в конец в сдреднем за константное время.<br>
    Но возможна аномалия если необходимо увеличить размер массива.<br>
</p>

<p>
    Linked list:<br>
    Нужно хранить ссылки на соседей.
    Вставка и удаление за константное время.<br>
    Доступ к произвольному элементу осуществляется за линейное время.<br>
    К первому и последнему обычно за константное.<br>
</p>

<p>
    В целом Array list более предпочтителен.<br>
    Linked list нужен для случаев частой вставки и удаления из серидины<br>
    и когда необходимо гарантированное время добавления элемента в список.<br>
    <b>Однако необходимо учесть, что поиск позиции для вставки и удаления занимает дополнительное время.</b><br>
</p>