<h2>Массив</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Структура данных</span>
        <span class="tooltiphint">Data structure</span>
    </span> — формат хранения и способ обработки данных.<br>
    Формат определяет степерь эффективности различных операций доступа и модификации.<br>
</p>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Массив</span>
        <span class="tooltiphint">Array</span>
    </span> — структура данных, набор элементов, каждый из которых имеет хотя бы 1 индекс.<br>
    Условно — непрерывная область памяти.<br>
    Число индексов — размерность массива (одномерные, двухмерные).<br>
    Константное время доступа к элементу.<br>
    Линейное добавление и удаление из середины.<br>
</p>