<h2>Хэш-таблица (Hash map)</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Хэш-таблица</span>
        <span class="tooltiphint">Hash-map</span>
    </span> — структура данных, состоящая из корзин и способная отображать ключи в значения.<br>
    <span class="tooltip">
        <span class="tooltiptext">Хэш-функция</span>
        <span class="tooltiphint">Hash-function</span>
    </span> — способ вычислить индекс в массиве корзин.<br>
    <span class="tooltip">
        <span class="tooltiptext">Корзина</span>
        <span class="tooltiphint">Bucket, Slot</span>
    </span> — хранилище значений, соответсвующих индексу (связный список, дерево).<br>
    Хеш функция в идеале должна равномерно распределять ключи по индексам, чтобы не было коллизий.
</p>

<p>
    В среднем константное время доступа к значению по ключу.<br>
    Но оно не гарантируется если одному ключу соответсвует несколько значений.<br>
    В таком случае - дополнительный проход по связному списку O(n), дереву O(log n).
</p>

<p>
    Накладные расходны при хранении, сложность реализации.<br>
    Главное приемущество скорость изменения и доступа к данным.<br>
    Имеет смысл для относительно больших объемов данных.<br>
    Для обеспечения скорости нужно управлять коллизиями.<br>
    Возможно перестроение хэша.<br>
    Сложность выбора хэш-функции - баланс между скоростью и равномерностью.
</p>

<table border="1" align="center">
    <tr>
        <th>Операция</th>
        <th>Hash map (average)</th>
        <th>Hash map (worst)</th>
        <th>Array list</th>
        <th>Linked list</th>
    </tr>
    <tr>
        <td>Поиск</td>
        <td>0(1)</td>
        <td>O(n)</td>
        <td>O(1)</td>
        <td>O(n)</td>
    </tr>
    <tr>
        <td>Вставка</td>
        <td>0(1)</td>
        <td>O(n)</td>
        <td>O(n)</td>
        <td>O(1)</td>
    </tr>
    <tr>
        <td>Удаление</td>
        <td>0(1)</td>
        <td>O(n)</td>
        <td>O(n)</td>
        <td>O(1)</td>
    </tr>
</table>