<h2>Связанный список (Linked list)</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Связный список</span>
        <span class="tooltiphint">Linked list</span>
    </span> — структура данных, состоящая из узлов (данные + ссылка на соседа(ей)).<br>
    Бывает двусвязный (ссылка на соседа слева и справа) и односвязный (ссылка только на 1 соседа).<br>
    По сравнению с массивом элементы могут быть произвольно разбросаны по памяти.<br>
    Константное время добавления и удаления элемента.<br>
    Линейное время доступа по индексу.<br>
</p>