<h2>O-нотация</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">O-нотация</span>
        <span class="tooltiphint">O-notation</span>
    </span> — специальное обозначение для скорости работы алгоритма в общем случае.<br>
</p>

<p>
    Зачем нужна? Определить быстроту используемого алгоритма, сравнить алгоритмы.<br>
    Понять темп роста времени работы алгоритма с увеличением числа входных данных.<br>
    О-нотация определяет худщее время работы алгоритма.<br>
    Например, поиск по массиву перебором - сложность O(n), но искомый элемент может быть первым.<br>
    n — означает количество входных данных.<br>
    O(n * log n) - с ростом n скорость алгоритма растет не быстрее чем функция n*log n.<br>
</p>

<p>
    Примеры O-нотаций и алгоритмов в порядке увеличения времени:
</p>

<ul>
    <li>O(1) — доступ к элементу массива (константное время);</li>
    <li>O(log n) — бинарный поиск (логарифмическое время);</li>
    <li>O(n) — поиск перебором (линейное время);</li>
    <li>O(n * log n) — быстрая сортировка;</li>
    <li>O(n2) — сортировка выбором;</li>
    <li>O(n!) — задача комивояжера.</li>
</ul>

<details>
    <summary>Есть и другие виды нотаций</summary>
    <table border="1" align="center">
        <tr>
            <th>Нотация</th>
            <th>Граница</th>
            <th>Рост</th>
        </tr>
        <tr>
            <td>Тета</td>
            <td>Нижняя и верхняя, точно</td>
            <td>Равно</td>
        </tr>
        <tr>
            <td>О большое</td>
            <td>Верхняя, точная оценка неизвестна</td>
            <td>Меньше равно</td>
        </tr>
        <tr>
            <td>О малое</td>
            <td>Верхняя, неточно</td>
            <td>Меньше</td>
        </tr>
        <tr>
            <td>Омега большое</td>
            <td>Нижняя, точная оценка неизвестна</td>
            <td>Больше или равно</td>
        </tr>
        <tr>
            <td>Омега малое</td>
            <td>Нижняя, неточно</td>
            <td>Больше</td>
        </tr>
    </table>
</details>
