body, html {
    height: 100%;
    margin: 0;
    min-width: 600px;
}

.content{
    min-width: 600px;
    font-size: 25px;
    display: block;
    position:fixed;
    overflow-x: hidden;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 50px 0 0 210px;
    background-color: #e1e3ea;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:10px;
}

details{
    font-size: 22px;
}

ul{
    margin-top:-15px;
}

h2{
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiphint {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiphint::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiphint {
    visibility: visible;
}

.tooltiptext {
    font-weight: bold;
}

details {
    padding-left: 20px;
}

summary {
    font-weight: bold;
}