.solid-principle{
    display: inline-block;
    width: 10vw;
    height: 10vw;
    max-width: 150px;
    min-width: 120px;
    max-height: 150px;
    min-height: 120px;
    background: blanchedalmond;
    border: 2px solid transparent;
    margin-bottom: 4px;
    border-radius: 10px;
}

.solid-principle:hover{
    border-style: groove;
    border-color: black;
    cursor: pointer;
}

.solid-inital{
    text-align: center;
    font-size: 3.5em;
    font-weight: bolder;
    margin-top: 2.8vw;
}

.s-inital{
    color: #0096E6;
}

.o-inital{
    color: #16A085;
}

.l-inital{
    color: #33CC33;
}

.i-inital{
    color: #F39C12;
}

.d-inital{
    color: #C0392B;
}

.principles-group{
    display: inline-block;
}

.dry-principle{
    display: inline-block;
    width: 12vw;
    height: 10vw;
    max-width: 200px;
    min-width: 150px;
    max-height: 150px;
    min-height: 120px;
    background: blanchedalmond;
    border: 2px solid transparent;
    margin-bottom: 4px;
    border-radius: 10px;
}

.yagni-principle{
    display: inline-block;
    width: 12vw;
    height: 10vw;
    max-width: 250px;
    min-width: 200px;
    max-height: 150px;
    min-height: 120px;
    background: blanchedalmond;
    border: 2px solid transparent;
    margin-bottom: 4px;
    border-radius: 10px;
}

.kiss-principle{
    display: inline-block;
    width: 12vw;
    height: 10vw;
    max-width: 200px;
    min-width: 150px;
    max-height: 150px;
    min-height: 120px;
    background: blanchedalmond;
    border: 2px solid transparent;
    margin-bottom: 4px;
    border-radius: 10px;
}

.principle-name{
    text-align: center;
    font-size: 3.5em;
    font-weight: bolder;
    margin-top: 2.8vw;
}