.topnav {
    overflow: hidden;
    background-color: blanchedalmond;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.topnav a {
    float: left;
    display: block;
    color: black; /*font color*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffc653;
    color: black; /*font color*/
}