<h2>Объектно-ориентированное программирование (ООП)</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">ООП</span>
        <span class="tooltiphint">Object-oriented programming</span>
    </span> — это парадигма, описывающая программу как взаимодействующие объекты.<br>
    ООП это также проектирование и объектное мышление.<br>
    В ООП важно выбирать правильный уровень абстракций.<br>
</p>

<p>Основные понятия:</p>
<ul>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Класс</span>
            <span class="tooltiphint">Class</span>
        </span> — описание и реализация абстрактного типа данных, шаблон объекта.<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Объект</span>
            <span class="tooltiphint">Object</span>
        </span> — сущность с полями и методами, экземпляр класса<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Интерфейс</span>
            <span class="tooltiphint">Interface</span>
        </span> — перечень объявлений методов, описание взаимодействия с классом.<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Метод</span>
            <span class="tooltiphint">Method</span>
        </span> — процедура принадлежащая классу, способная обрабатывать его поля.<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Поле</span>
            <span class="tooltiphint">Field</span>
        </span> — переменная, принадлежащая классу.<br>
    </li>
</ul>

<p>Основные принципы:</p>
<ul>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Абстракция</span>
            <span class="tooltiphint">Abstraction</span>
        </span> — это выделение значимых характеристик объекта, упуская незначимые.<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Наследование</span>
            <span class="tooltiphint">Inheritance</span>
        </span> — механизм, для описания новых классов на основе существующих.<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Инкапсуляция</span>
            <span class="tooltiphint">Incapsulation</span>
        </span> – объединение данных и методов их обработки; сокрытие реализации.<br>
    </li>
    <li>
        <span class="tooltip">
            <span class="tooltiptext">Полиморфизм</span>
            <span class="tooltiphint">Polymorphism</span>
        </span> — способность объектов с одинаковой спецификацией иметь различную реализацию.<br>
    </li>
</ul>

<p>Плюсы</p>
<ul>
    <li>
        Повышается степень повторного использования кода;
    </li>
    <li>
        Как следствие можно создавать программы легче и быстрее;
    </li>
    <li>
        При грамотном проектировании код легче понимать и поддерживать;
    </li>
    <li>
        Способствует параллельной разработке, тестированию;
    </li>
    <li>
        Сокращение числа межмодульных вызвовов;
    </li>
    <li>
        Принципы ООП по сути и есть его достоинства.
    </li>
</ul>

<p>Минусы</p>
<ul>
    <li>
        Снижение ресурсной эффективности накладные расходы;
    </li>
    <li>
        Проектирование занимает больше времени и требует подготовки.
    </li>
    <li>
        Программы быстро становятся сложными.
    </li>
    <li>
        Сложно решать некоторые типы задач.
    </li>
</ul>

<details>
    <summary>Откуда всё это?</summary>
    <p>
        Есть мнение, что ООП более естественно и является отражением речи, реального мира.<br>
        Объект ООП — существительное, объект реального мира с определенным уровнем абстракции.<br>
        Его описание, прилагательное (железный, большой, желтый, состоящий из звеньев...) — это свойства.<br>
        Доступные действия с ним, глаголы (включить, сложить, взаимодействовать...) — интерфейс.<br>
        Как изменить объект, для применения в других условиях или целях — наследование и полиморфизм.<br>
        Простое использование объекта без акцента на внутренее устройство — инкапсуляция.<br>
    </p>
</details>