<H2>Реляционные базы данных (БД)</H2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">БД</span>
        <span class="tooltiphint">DB, Database</span>
    </span> — это организованная совокупность данных, предназначенная для их хранения и обработки.<br>

    <span class="tooltip">
        <span class="tooltiptext">СУБД</span>
        <span class="tooltiphint">DBMS, Database Management System</span>
    </span> — ПО, позволяющее создавать, изменять, поддерживать БД и управлять доступом к ней.<br>

    <span class="tooltip">
        <span class="tooltiptext">Модель данных</span>
        <span class="tooltiphint">Data model</span>
    </span> — описание способа представления и обработки данных.<br>
</p>

<p>
    БД в реляционной модели — совокупность отношений и связей между ними.<br>
    <span class="tooltip">
        <span class="tooltiptext">Отношение</span>
        <span class="tooltiphint">Relation, Table</span>
    </span> представляется двумерной таблицей.<br>
</p>

<details>
    <summary>Существуют и другие модели данных: </summary>
    <p>&emsp;сетевая, иерархическая, объектная и пр.</p>
</details>

<p>У отношений есть ряд ключевых свойств:</p>

<ul>
    <li>Каждый элемент — один элемент данных;</li>
    <li>Все атрибуты однородны (одного типа данных);</li>
    <li>Атрибуты однозначно именуются;</li>
    <li>Все строки являются уникальными (не всегда соблюдается).</li>
</ul>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Сущность</span>
        <span class="tooltiphint">Entity</span>
    </span> — это тип объекта, информация о котором хранится в БД.<br>

    <span class="tooltip">
        <span class="tooltiptext">Кортеж</span>
        <span class="tooltiphint">Tuple, Record</span>
    </span> (запись) — набор пар атрибут-значение, представляется строкой.<br>

    <span class="tooltip">
        <span class="tooltiptext">Атрибут</span>
        <span class="tooltiphint">Attribute, Field</span>
    </span> (поле) — свойство сущности, представляется столбцом.<br>

    <span class="tooltip">
        <span class="tooltiptext">Домен</span>
        <span class="tooltiphint">Data domain</span>
    </span> (тип данных) — всё множество допустимых значений атрибута.<br>
</p>