<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer Den</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/topnav.css" th:href="@{/css/topnav.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/sidenav.css" th:href="@{/css/sidenav.css}">

    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script src="../static/js/topnav.js" th:src="@{/js/topnav.js}"></script>
    <script src="../static/js/sidenav.js" th:src="@{/js/sidenav.js}"></script>
</head>
<body>

<div class="topnav" id="topnav">
    <a href="javascript:showContent('synopsis');" style="width: 178px">
        <span style="color: black; font-weight: bolder">DEVELOPER DEN</span>
    </a>
    <a href="javascript:showSidenav('oop_sidenav');">ООП</a>
    <a href="javascript:void(0);">Алгоритмы</a>
    <a href="javascript:void(0);">Структуры данных</a>
    <a href="javascript:showSidenav('db_sidenav');">Базы данных</a>
    <a href="javascript:void(0);">SQL</a>
    <a href="javascript:void(0);">Многопоточность</a>
    <a href="javascript:void(0);">Тестирование</a>
    <a href="javascript:void(0);" class="icon" onclick="showMenu()">
        <img src="../static/img/bars.svg" th:src="@{/img/bars.svg}" style="height: 20px">
    </a>
</div>

<div class="sidenav" id = "sidenav">

</div>

<div class="content" id ="content">

</div>

</body>
</html>