<h2>Индексы</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Индекс</span>
        <span class="tooltiphint">Index</span>
    </span> — объект БД повышающий скорость поиска данных.<br>
    Скорость достигается за счёт структуруы индекса, оптимизированной под поиск (сбалансированное дерево).<br>
    Платой за скорость становятся дополительные затраты на поддержание и обновление индексов.<br>
    По аналогии — индекс это некоторая вспомогательная, упорядоченная структура вроде предметного указателя.<br>
    Она позволяет избежать последовательного просмотра книги целиком.<br>
</p>

<p>
    Виды индексов:<br>

    <span class="tooltip">
        <span class="tooltiptext">Кластеризованный</span>
        <span class="tooltiphint">Clustered</span>
    </span> — таблица по сути и является упорядоченный индексом, записи хранятся в листьях.<br>
    <span class="tooltip">
        <span class="tooltiptext">Некластеризованный</span>
        <span class="tooltiphint">Non-clustered</span>
    </span> — произвольный порядок записей в таблице, в индексе хранятся ссылки.<br>
</p>

<p>Про применение индексов</p>
<ul>
    <li>Понять необходимость. Обнаружить недостаточную производительность и подтвердить что индексы могут помочь.</li>
    <li>На ключевых атрибутах и с признаком unique БД обычно сама создает индексы.</li>
    <li>Индексы применяются на атрибутах по которым часто происходит поиск (where, join).</li>
    <li>Индексы имеют смысл только для относительно больших таблиц.</li>
    <li>Следует чаще строить индексы на менее изменчивых данных. Перестройка индексов при обновлении занимает время.</li>
    <li>Могут быть применены для ускорения запросов group by, order by так как индексы отсортированы.</li>
    <li>Индексы занимают место. Если размер БД важен следует ограничить использование индексов.</li>
    <li>Если индекс возвращает малое число значений, он не намного эффективнее перебора.</li>
    <li>Например, для поля "Пол" имеющего только 2 значения следует отказаться от индекса.</li>
</ul>