<!--<a href="#">Термины</a>-->
<a href="javascript:showContent('oop');">Общее</a>
<a href="javascript:showContent('details');">Подробнее</a>
<a href="javascript:showContent('principles');">Принципы</a>
<!--<a href="javascript:showContent('stub');">Инкапсуляция</a>-->
<!--<a href="#">KISS</a>-->
<!--<a href="#">YAGNI</a>-->
<!--<a href="#">DRY</a>-->
<!--<a class="dropdown-btn">SOLID<i style="font-size: 12px">&#9660;</i></a>-->
<!--<div class="dropdown-container">-->
    <!--<a href="#">Single responsibility</a>-->
    <!--<a href="#">Open-closed</a>-->
    <!--<a href="#">Liskov substitution</a>-->
    <!--<a href="#">Interface segregation</a>-->
    <!--<a href="#">Dependency inversion</a>-->
<!--</div>-->