<h2>SOLID принципы</h2>

<div class="principles-group">
    <div class="solid-principle pr-hover">
        <div class="principle-text s-inital">
            S
        </div>
    </div>

    <div class="solid-principle pr-hover">
        <div class="principle-text o-inital">
            O
        </div>
    </div>

    <div class="solid-principle pr-hover">
        <div class="principle-text l-inital">
            L
        </div>
    </div>

    <div class="solid-principle pr-hover">
        <div class="principle-text i-inital">
            I
        </div>
    </div>

    <div class="solid-principle pr-hover">
        <div class="principle-text d-inital">
            D
        </div>
    </div>
</div>

<div class="principles-divisor">

</div>

<div class="principles-group">
    <div class="dry-principle pr-hover">
        <div class="principle-text">
            DRY
        </div>
    </div>

    <div class="yagni-principle pr-hover">
        <div class="principle-text">
            YAGNI
        </div>
    </div>

    <div class="kiss-principle pr-hover">
        <div class="principle-text">
            KISS
        </div>
    </div>
</div>