<h2>SOLID принципы</h2>

<div class="principles-group">
    <div class="solid-principle">
        <div class="solid-inital s-inital">
            S
        </div>
    </div>

    <div class="solid-principle">
        <div class="solid-inital o-inital">
            O
        </div>
    </div>

    <div class="solid-principle">
        <div class="solid-inital l-inital">
            L
        </div>
    </div>

    <div class="solid-principle">
        <div class="solid-inital i-inital">
            I
        </div>
    </div>

    <div class="solid-principle">
        <div class="solid-inital d-inital">
            D
        </div>
    </div>
</div>

<div class="principles-group">
    <div class="dry-principle">
        <div class="principle-name">
            DRY
        </div>
    </div>

    <div class="yagni-principle">
        <div class="principle-name">
            YAGNI
        </div>
    </div>

    <div class="kiss-principle">
        <div class="principle-name">
            KISS
        </div>
    </div>
</div>