<H2>Синопсис</H2>
<p>Задачи ресурса:</p>
<ul>
    <li>Централизовано, структурировано, кратко описать основные области знаний, необходимые разработчику.</li>
    <li>Привести к используемым терминам английский эквивалент.</li>
    <li>Дать ссылки на связанные с темами ПО, фреймворки, языки.</li>
</ul>

<p>Цели ресурса:</p>
<ul>
    <li>В цели не входит объяснение азов и базовых знаний.</li>
    <li>Помочь понимающему преобразовать интуитивное представление об объекте в начальный уровень понимания.</li>
    <li>Cистематизировать и зафиксировать понимание.</li>
    <li>Дать отражение краткого, грамотного ответа специалиста на основные вопросы об объекте.</li>
</ul>


<p>Описательный элемент:</p>
<ul>
    <li>Расчитан на определенный уровень компетенций.</li>
    <li>Объем, по возможности, не превышает открытого окна в браузере.</li>
    <li>Приводится определение, назначение, ключевые моменты использования, достоинства, недостатки, сравнение.</li>
</ul>

<details>
    <summary>Какой уровень компетенций</summary>
    <p>
        Толковый, начинающий (Junior) разрабочик, студент старших курсов, связанных с IT.<br>
        Не чайник, не тот кому нужно объяснять на пальцах.<br>
        Представляющий, как устроен и работает компьютер.<br>
        Знающий в общих чертах про языки программирования, базы данных, web-технологии.<br>
        Про алгоритмы, структуры данных, многопоточное программирование.<br>
        Cлашавший про быструю сортировку, хеш-таблицы, семафоры.<br>
        Человеку не нужно рисовать как работает массив, рассказывать что в базах данных есть транзакции,
        чем бэкэнд отличается от фронэнда.<br>
        Его не будут вводить в заблуждения понятия интрерфейсов, абстрактных классов, статических методов.<br>
        Как-то в таком духе.<br>
    </p>
</details>

<p>
    Зачем всё это?
    Чтобы при возникновении условной задачи "Ускорить работу SQL запроса" Вы могли бы вспомнить, что существуют
    индексы, определить могут ли они помочь и в случае положительного ответа установить
    какие, сколько, в каком порядке создавать индексы и дать обоснование своему выбору.
    При этом учесть влияние индексов на другие операции в БД.

    Рефакторинг, многопточность, выбор алгоритма сортировки, структуры данных.
</p>