<H2>Ключи</H2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Ключ</span>
        <span class="tooltiphint">Key</span>
    </span> — атрибут(ы) однозначено идентифицирующий запись.<br>

    Используется для идентификации и связи строк между отношениями.<br>
</p>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Суперключ</span>
        <span class="tooltiphint">Superkey</span>
    </span> — атрибут(ы) отношения, удовлетворяющий требованию уникальности.<br>

    <span class="tooltip">
        <span class="tooltiptext">Потенциальный ключ</span>
        <span class="tooltiphint">Candidate key, Unique key</span>
    </span> — атрибуты(ы) отношения, удовлетворяющий требованиям уникальности и минимальности.<br>

    <i>Уникальность</i> — атрибуты ключа уникальны для всех кортежей.<br>
    <i>Минимальность</i> — отсутствие в ключе подмножества атрибутов уникальных для всех кортежей.<br>
</p>

<p>
   <span class="tooltip">
        <span class="tooltiptext">Первичный ключ</span>
        <span class="tooltiphint">Primary key</span>
   </span> — один из потенциальных ключей, выделенный по прагматическим соображениям.<br>

    К нему предъявляются два основных и два дополнительных требования.<br>
</p>

<p>Основные:</p>
<ul>
    <li>Ключ не может иметь значение NULL.</li>
    <li>Ключ должен быть уникальным.</li>
</ul>

<p> Дополнительные:</p>
<ul>
    <li>Ключ должен быть коротким, компактным.</li>
    <li>Ключ должен быть стабильным.</li>
</ul>

<p>
    Многие СУБД по ключу строят индексы, поэтому выбор ключа влияет на физическую организацию данных.
</p>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Простой ключ</span>
        <span class="tooltiphint">Simple key</span>
    </span> — состоящий из одного атрибута.<br>

    <span class="tooltip">
        <span class="tooltiptext">Составной ключ</span>
        <span class="tooltiphint">Concatenated key</span>
    </span> из двух или более.<br>

    <span class="tooltip">
        <span class="tooltiptext">Суррогатный ключ</span>
        <span class="tooltiphint">Surrogate key</span>
    </span> — искуственно введенное и генерируемое поле, которое становится первичным ключем.<br>

    <span class="tooltip">
        <span class="tooltiptext">Естественный</span>
        <span class="tooltiphint">Natural key</span>
    </span> — один из потенциальных ключей выбранный в качестве первичного.<br>

    Суррогатный ключ обычно вводится чтобы лучше соответствовать требованиям к первичному ключу.<br>
</p>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Внешний ключ</span>
        <span class="tooltiphint">Foreign key</span>
    </span> — атрибут(ы) отношения, позволяющий однозначно определить запись из какого-либо отношения.<br>
    Уникальность первичных ключей и соответствие внешних обычно контролируется БД (понятие constraints).<br>
</p>

<details>
    <summary>Зачем нужен внешний ключ?</summary>
    <p>&emsp;Он используется для связи отношений в БД и поддержания целостности.</p>

    <p>&emsp;Всего существует 3 типа связей:</p>
    <ul>
        <li><b>Один к одному</b> — одной записи соответсвует одна из другого отношения;</li>
        <li><b>Один ко многим</b> (многие к одному) — одной записи соответсвовует несколько из другого отношения;</li>
        <li><b>Многие ко многим</b> — нескольким записям соответсвует несколько из другого отношения.</li>
    </ul>
    <p>&emsp;Для реализации связи многие ко многим обычно используется дополнительная таблица.</p>
</details>

<details>
    <summary>Существуют другие виды ключей:</summary>
    <p>&emsp;альтенативные, индексные, хеш-ключи, ключи сортировки, вторичные ключи, ключи шифрования и пр.</p>
</details>