<h2>Нарушение нормальных форм</h2>

<p>
    Для сдачи земельных участков (ЗУ) в аренду создана таблица "Договоры аренды ЗУ":
</p>

<table style="max-width: 1000px">
    <tr style="color: #666666; font-size: 18px">
        <td>ID договора, первичный ключ</td>
        <td>ID ЗУ, внешний ключ&nbsp;*</td>
        <td>ID арендатора, внешний ключ&nbsp;*</td>
        <td>Номер договора</td>
        <td>Дата договора</td>
        <td>Коэффициент категории арендатора&nbsp;*</td>
        <td>Имя категории арендатора&nbsp;*</td>
    </tr>
    <tr>
        <th>id</th>
        <th>land_id</th>
        <th>leaser_id</th>
        <th>num</th>
        <th>date</th>
        <th>category_value</th>
        <th>category_name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>7</td>
        <td>2</td>
        <td>10</td>
        <td nowrap>2018-04-02</td>
        <td>1.00</td>
        <td>Физические лица</td>
    </tr>
    <tr>
        <td>2</td>
        <td>4</td>
        <td>9</td>
        <td>12</td>
        <td nowrap>2019-02-13</td>
        <td>0.3</td>
        <td>Военнослужащие</td>
    </tr>
    <tr>
        <td>3</td>
        <td>6</td>
        <td>3</td>
        <td>337</td>
        <td nowrap>2019-01-28</td>
        <td>0.2</td>
        <td>Образовательные организации</td>
    </tr>
    <tr>
        <td>4</td>
        <td>3</td>
        <td>8</td>
        <td>5</td>
        <td nowrap>2018-10-11</td>
        <td>0.8</td>
        <td>Садоводческие объединения</td>
    </tr>
    <tr>
        <td>5</td>
        <td>11</td>
        <td>2</td>
        <td>221</td>
        <td nowrap>2018-08-22</td>
        <td>1.0</td>
        <td>Физические лица</td>
    </tr>
    <tr>
        <td>6</td>
        <td>1</td>
        <td>4</td>
        <td>14</td>
        <td nowrap>2019-01-15</td>
        <td>0.3</td>
        <td>Инвалиды</td>
    </tr>
    <tr>
        <td colspan="7" style="font-size: 18px">* Категории арендаторов нужны для расчёта аренды. Содержимое таблиц ЗУ и арендатора не важно.</td>
    </tr>
</table>

<p>
    Таблица находится в 1 и 2 НФ (простой первичный ключ), но не в 3 НФ.<br>
    Так как <b>category_name</b> и <b>category_value</b> зависят от <b>contract_id</b> через <b>leaser_id</b>.
</p>

<p>Из-за этого возникают аномалии и избыточность:</p>
<ul>
    <li>Информация о категории физических лиц <b>хранится 2 раза</b>.</li>
    <li>При <b>удалении</b> 4й записи потеряется категория "Садоводческие объединения" (0.8).</li>
    <li>При <b>изменении</b> категории "Физические лица" надо поменять несколько записей.</li>
    <li>При <b>добавлении</b> новой категории нужно создавать для неё пустой договор.</li>
</ul>

<details>
    <summary>Решение - вынести категории в отдельную таблицу, в договорах создать внешний ключ:</summary>
    <table style="display: inline-block">
        <tr>
            <th>contract_id</th>
            <th>land_id</th>
            <th>leaser_id</th>
            <th>num</th>
            <th>date</th>
            <th>category_id</th>
        </tr>
        <tr>
            <td>1</td>
            <td>7</td>
            <td>2</td>
            <td>10</td>
            <td nowrap>2018-04-02</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>4</td>
            <td>9</td>
            <td>12</td>
            <td nowrap>2019-02-13</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>6</td>
            <td>3</td>
            <td>337</td>
            <td nowrap>2019-01-28</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>3</td>
            <td>8</td>
            <td>5</td>
            <td nowrap>2018-10-11</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>11</td>
            <td>2</td>
            <td>221</td>
            <td nowrap>2018-08-22</td>
            <td>1</td>

        </tr>
        <tr>
            <td>6</td>
            <td>1</td>
            <td>4</td>
            <td>14</td>
            <td nowrap>2019-01-15</td>
            <td>5</td>
        </tr>
    </table>

    <table style="display: inline-block">
        <caption style="padding-bottom: 10px">Таблица "Категории арендаторов"</caption>
        <tr>
            <th>id</th>
            <th>value</th>
            <th>name</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1.0</td>
            <td>Физические лица</td>
        </tr>
        <tr>
            <td>2</td>
            <td>0.3</td>
            <td>Военнослужащие</td>
        </tr>
        <tr>
            <td>3</td>
            <td>0.2</td>
            <td>Образовательные организации</td>
        </tr>
        <tr>
            <td>4</td>
            <td>0.8</td>
            <td>Садоводческие объединения</td>
        </tr>
        <tr>
            <td>5</td>
            <td>0.3</td>
            <td>Инвалиды</td>
        </tr>
    </table>
</details>

<p>В итоге:</p>
<ul>
    <li>Можно хранить и добавлять категории независимо от договоров.</li>
    <li>БД запретит удаление используемой категории.</li>
    <li>Изменение категории затронет только одну запись.</li>
    <li>Устранена избыточность.</li>
</ul>

<details>
    <summary>Почему бы не переместить эти значения в таблицу с арендатором?</summary>
    <p>В таком случае также возможны аномалии:<br></p>
    <ul>
        <li>При удалении арендатора может потеряться информация о категории.</li>
        <li>При изменении категории нужно изменять все строки, где она есть.</li>
        <li>Информация о категории хранится столько раз, сколько она используется.</li>
    </ul>
</details>

<details>
    <summary>Почему бы не создать внешний ключ в таблице с арендатором?</summary>
    Льготы арендатора могут меняться со временем.<br>
    Пропадет возможность заключить два договора с разными категориями.
</details>