<h2>Нормальные формы</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Нормализация</span>
        <span class="tooltiphint">Normalization</span>
    </span> — приведение структуры отношений к нормальным формам (НФ).<br>

    <b>Цель нормализации</b> — исключить избыточное дублирование данных, приводящее к аномалиям при обработке записей.<br>
    Также нормализация облегчает проектирование и поддержку БД.<br>
    <span class="tooltip">
        <span class="tooltiptext">Аномалия</span>
        <span class="tooltiphint">Anomaly</span>
    </span> — ситуация в таблице, которая приводит к противоречию в БД (предметной области) либо усложняет обработку.<br>
</p>

<p> Аномалии:</p>
<ul>
    <li><i>модификации</i> — изменение одних данных может повлечь просмотр таблицы и изменение других записей.</li>
    <li><i>удаления</i> — удаление записи может привести к потере прямо не связанной с ней информации.</li>
    <li><i>добавления</i> — в таблицу нельзя добавить неполную запись, либо добавление требует просмотра таблицы.</li>
</ul>

<p>
    Нормализация тесно связана с понятием функциональной и транзитивной зависимости .
</p>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Функциональная зависимость</span>
        <span class="tooltiphint">Functional dependency</span>
    </span><br>
    Пусть даны два атрибута или группы атрибутов A и B отношения R.<br>
    Тогда B функционально зависит от А если каждому значению A соответствует ровно одно значение B.<br>
    <span class="tooltip">
        <span class="tooltiptext">Транзитивная зависимость</span>
        <span class="tooltiphint">Transitive dependency</span>
    </span> — неключевой атрибут зависит не напрямую от ключа, а через другой атрибут.<br>
</p>

<details>
    <summary>Суть нормализации</summary>
    <p>
        Организовать отношения и атрубуты так, чтобы их зависимости не нарушали ограничений целостности, устранить избыточность.<br>
        Для этого делают чтобы отношения хранили одну сущность и только первичные факты (невыводимые из других).<br>
    </p>
</details>

<p>
    Если отношение находится в какой либо НФ, то оно находиться и во всех предыдущих.<br>
    <b>1 НФ</b> = все записи отношения содержат только одно значение для каждого из атрибутов.<br>
    <b>2 НФ</b> = 1 НФ + каждый неключевой атрибут функционально полно зависит от первичного ключа (на зависит от какой либо его части).<br>
    <b>3 НФ</b> = 2 НФ + ни один неключевой атрибут не находится в транзитивной функциональной зависимости от первичного ключа.<br>
    <b>3 НФ Бойса-Кодда</b> = 3 НФ + отсутствие зависимостей частей ключа от неключевых атрибутов.<br>

    <b>Важно:</b><br>
    2 НФ работает только если ключ составной.<br>
    Тогда возможна неполная функциональная зависимость неключевых атрибутов от ключа. Неполная значит от части ключа.<br>
    3 НФ Бойса-Кодда также работает только если ключ составной.<br>
    Есть и другие нормальные формы, на практике им уделяется меньшее внимание.<br>
</p>