<h2>Agile</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Agile</span>
        <span class="tooltiphint">Гибкая разработка</span>
    </span> — семейство итеративных методологий разработки.<br>
</p>

<p>
    Это итеративная разработка (спринты, частые релизы) <br>
    Должна упрощать доставку продукта клиенту <br>
    Главное - это рабочий продукт <br>
    Поощряются простые, быстрые решения <br>
    Гибкое формирование требований <br>
    Постоянное общение внутри групп, с заказчиком. <br>
    Agile – это просто ценности, а не практические рекомендации. <br>
    Двухнедельный спринт, размер команды – Agile не про это.
</p>

<details>
    <summary>Оригинальный манифест Agile</summary>
    <br>
    <ul>
        <li>
            Individuals and interactions over processes and tools
        </li>
        <li>
            Working software over comprehensive documentation
        </li>
        <li>
            Customer collaboration over contract negotiation
        </li>
        <li>
            Responding to change over following a plan
        </li>
    </ul>
</details>

<p>Недостатки</p>
<ul>
    <li>
        Недостаток планирования
    </li>
    <li>
        Много рефакторинга
    </li>
    <li>
        Если быстро реагировать на быстро меняющиеся требования, то будет хаос
    </li>
    <li>
        Вероятно, некоторые быстрые и простые решения не сработают как надо
    </li>
    <li>
        Недостаток документирования
    </li>
    <li>
        Некоторая разронненность
    </li>
</ul>


