<h2>BDD</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Разработка через поведение</span>
        <span class="tooltiphint">Behavior driven development</span>
    </span> — agile методолгия разработки, ответвление TDD.<br>
</p>

<p>
    Перед реализацией функциональности желаемое поведение описывается на предметном языке, по определенным правилам.
</p>

<details>
    <summary>Пример</summary>
    <p>
        Scenario 1: Refunded items should be returned to stock <br>
        <b>Given</b> that a customer previously bought a black sweater from me <br>
        <b>And</b> I have three black sweaters in stock. <br>
        <b>When</b> they return the black sweater for a refund <br>
        <b>Then</b> I should have four black sweaters in stock. <br>
    </p>
</details>

