<h2>TDD</h2>


<p>
    <span class="tooltip">
        <span class="tooltiptext">Разработка через тестирование</span>
        <span class="tooltiphint">Test driven development</span>
    </span> — техника итеративной разработки ПО.<br>
</p>

<p>
    Тест для мини изменения, который падает <br>
    Код мини изменения, проходящий тест <br>
    Рефакторинг кода, проходящий тест <br>
</p>

<p>Плюсы</p>
<ul>
    <li>
        Более простой, надежный и менее связанный код;
    </li>
    <li>
        Представление о будущем коде;
    </li>
    <li>
        Документация к коду;
    </li>
    <li>
        Защита от ошибок при изменениях;
    </li>
    <li>
        Показатель работоспособности кода;
    </li>
</ul>

<p>Минусы</p>
<ul>
    <li>
        Тесты надо писать и поддерживать, они не всегда подходят для задачи;
    </li>
    <li>
        Могут придавать ложную уверенность.
    </li>
</ul>
