<h2>XP</h2>

<p>
    <span class="tooltip">
        <span class="tooltiptext">Экстремальное программирование</span>
        <span class="tooltiphint">Extreme programming, XP</span>
    </span> — семейство итеративных методологий разработки.<br>
</p>

<p>Используемые приёмы</p>
<ul>
    <li>
        Тестирование модульное и функциональное
    </li>
    <li>
        Спринты, частые итерации
    </li>
    <li>
        Парное программирование
    </li>
    <li>
        Заказчик всегда рядом
    </li>
    <li>
        Простота, понимание, разделяемое всеми, коллектвное владение кодом
    </li>
    <li>
        Непрерывная интеграция
    </li>
    <li>
        Игра в планирование, быстрый план, его корректировка со временем
    </li>
</ul>
